html, body {
  margin: 0;
  border: 0;
  font-family: FiraGO;
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;    
}

.map {
  height: 100vh;
  width: 100vw;
}

.H_logo {
  display: none !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #0bc7c2;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  background: #0bc7c2;
  cursor: pointer;
}