.sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    height: 100vh;
    width: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
}

@media (max-width: 750px) {
  .sidebar {
    width: 100%!important;
    max-width: 100%;
  }

  .sidebar-collapse {
    width: 100%!important;
    max-width: 100%;
  }
}

.sidebar-collapse {
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  position: absolute;
  width: 350px;
  top: 0px;
  left: 0px;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000
}

.chevron-left {
  height: 16px;
   height: 19px;
   margin-top: 10px;
   margin-right: 8px;
}

.chevron-down {
  height: 16px;
   height: 19px;
   margin-top: 10px;
   margin-right: 8px;
   transform: rotate(-90deg)
}

.switch-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tab-btn {
  font-size: 18px;
  text-align: center;
  flex-grow: 5;
  padding: 8px;
  cursor: pointer;
}

.tab-active {
  border-bottom: 2px solid  #0bc7c2;
}