.search-container {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.suggestions-list  {
    width: 400px;
    max-width: 400px;
    max-height: 500px;
    overflow: auto;
    background-color: #fff;
}

.suggest-item  {
    background-color: #fff;
    padding: 5px;
    margin-top: 3px;
    cursor: pointer;
}

@media (max-width: 750px) {
    .search-container {
      display: none;
    }
  }